.container {
  max-width: 600px; 
  margin: auto; 
  padding: 20px; 
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center; 
  color: #333; 
  margin-bottom: 20px; 
}

.form-label {
  font-weight: 500; 
  color: #495057; 
}

.form-control {
  border: 1px solid #ced4da; 
  border-radius: 4px;
  padding: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.text-danger {
  font-size: 14px; 
  margin-top: 5px; 
}

.btn {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s; 
}

/* Primary Button Styles */
.btn-primary {
  background-color: #007bff; 
  color: #fff; 
}

.btn-primary:hover {
  background-color:  #5a6268; 
  transform: translateY(-2px); 
  border: none;

}

.btn-secondary {
  background-color: #007bff; 
  color: #fff; 
  border: none;
}

.btn-secondary:hover {
  background-color: #5a6268; 
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .container {
    width: 90%; 
  }

  .btn {
    width: 100%; 
    margin-bottom: 10px; 
  }
}
